body * {
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

header,
footer {
  background: #242424;
}

footer {
  height: 3rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 1000;
  background: #242424;
  /*box-shadow: 0px 1px 10px 0px #888;*/
  color: whitesmoke;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContent {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  min-height: calc(100% - 3rem);
  margin: 0;

  display: flex;
  flex-direction: column;
}

#title {
  height: 10rem;
  background: #242424;
  color: whitesmoke;

  display: flex;
  justify-content: center;
  align-items: center;
}

#headerTitle {
  margin: 0;
  font-size: 2rem;
  font-family: "Nothing You Could Do", cursive;
  letter-spacing: auto;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu li {
  margin: 0.2rem;
  list-style: none;
}

.menu li a {
  color: whitesmoke;
  text-decoration: none;
}

.menu li a:hover {
  border-bottom: 2px solid whitesmoke;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
}

#portfolio {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  flex-grow: 1;
}

.thumbnailContainer {
  position: relative;
  text-align: center;
  height: auto;
  min-width: 30%;
  max-width: 20rem;

  transition: height 0.4s ease-out;
  flex-grow: 1;
  margin: 1rem 0.5rem;
  font-size: 1.5rem;
}

.thumbnail:hover .thumbnailImg {
  filter: grayscale(100%);
  opacity: 0.3;
}

.viewProject {
  margin: 0;
  padding: 1rem;

  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  transition: opacity 0.4s ease-out;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.viewProject p {
  border: 0.3rem solid black;
  padding: 1rem;
  font-family: "Abel", sans-serif;
  color: black;
  text-transform: uppercase;
}

.viewProject:hover {
  opacity: 1;
}

.thumbnailImg {
  max-width: 100%;
  display: block;
  height: auto;
  transition: filter 0.4s ease-out, opacity 0.4s ease-out;
}
/*
.thumbnailContainer:hover {
  border: 2px solid red;
  height: 10rem;
}

.thumbnailContainer:hover .thumbnail {
  filter: none;
  height: 10rem;
}

.right {
  flex-direction: row;
}

.left {
  flex-direction: row-reverse;
}*/

.projectTitle {
  margin: 0.5rem 0 0 0;
  padding: 0;
  flex-grow: 1;
  text-align: center;
  font-size: 1rem;
  font-family: "Abel", monospace;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

.projectSubtitle {
  font-size: 1rem;
  margin: 0;
}

.projectTechnologies {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  max-width: 100%;
}

.ludem {
  font-size: 4rem;
  /* animation: 2s ease-out .5s reverse blur;*/
  text-shadow: 0px 0px 50px #fff;
  /*border: 0.2rem solid whitesmoke;
  box-shadow: 0 0 0 1rem whitesmoke;*/
  padding: 0.2rem 1rem;
  text-transform: uppercase;
}

/*@keyframes blur {
from {
  text-shadow:0px 0px 10px #fff,
    0px 0px 10px #fff, 
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 50px #fff,
    0px 0px 50px #fff,
    0px 0px 50px #7B96B8,
    0px 0px 150px #7B96B8,
    0px 10px 100px #7B96B8,
    0px 10px 100px #7B96B8,
    0px 10px 100px #7B96B8,
    0px 10px 100px #7B96B8,
    0px -10px 100px #7B96B8,
    0px -10px 100px #7B96B8;
}
}
*/

#bio {
  margin-top: 8rem;
  padding-top: 8rem;
  position: relative;
  height: 20rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background: silver;
}

.pic {
  position: absolute;
  left: center;
  top: -7.5rem;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: #242424;
}

.about {
  text-decoration: underline;
}

.info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: flex-start;
}

.info > p {
  flex: 1;
  text-align: center;
}
